.grid {
  display: grid;
  grid-template-areas: "intro-title intro-pic";
  margin-top: 5em;
  width: 100%;
}

.intro {
  background-color: transparent;
  grid-area: intro-title;
  color: black;
  padding-left: 8.5em;
  padding-top: 6em;
}
.intro h1 {
  font-size: 4.2rem;
  line-height: 1.55;
  font-weight: 750;
  text-align: left;
  align-items: center;
  justify-content: center;
}
.intro h1 .hey {
  opacity: 65%;
  position: relative;
  text-shadow: -1px 1px 50px rgba(255, 0, 102, 0.43);
}
.intro h1 .name {
  color: #FF0066;
  font-weight: 900;
  font-size: 4.4rem;
  display: inline;
}
.intro h1 .name .block {
  display: inline;
  white-space: wrap;
}
.intro .sub-intro {
  color: black;
  opacity: 90%;
  font-size: 1.85rem;
}
.intro .intro-button {
  padding: 15px;
  color: white;
  background-color: #FF0066;
  z-index: 9999;
  outline: none;
  border: 1px solid black;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 2em;
  transition: 200ms ease-out;
  transition-delay: 50ms;
  transform-origin: center;
  box-shadow: 1px 9px 14px -2px rgba(255, 0, 102, 0.53);
  -webkit-box-shadow: 1px 9px 14px -2px rgba(255, 0, 102, 0.53);
  -moz-box-shadow: 1px 9px 14px -2px rgba(255, 0, 102, 0.53);
}
.intro .intro-button:hover {
  background-color: #FDC6C6;
  color: black;
}
.intro .nomore {
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: transparent;
  margin-top: 2em;
  position: relative;
  justify-content: space-between;
  transition: all 300ms ease-out;
  transition-delay: 5ms;
  z-index: 999;
}
.intro .nomore:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #FF0066;
          text-decoration-color: #FF0066;
}
.intro .nomore svg {
  display: inline-block;
  transform: scale(1.2);
  padding-left: 4px;
  position: relative;
}
.intro .nomore svg:hover {
  -webkit-animation-name: animated-arrow;
          animation-name: animated-arrow;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  transition: cubic-bezier(0.53, 0.32, 0.69, 0.38);
}
.intro .gray-text {
  opacity: 50%;
  font-size: 1.2rem;
  max-width: 24em;
  padding-top: 0.5em;
  line-height: 1.6;
}

.pic {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: intro-pic;
}
.pic img {
  max-width: 200%;
}

@-webkit-keyframes animated-arrow {
  0%, 100% {
    right: 2px;
  }
  50%, 75% {
    left: 2px;
  }
  25% {
    right: 1px;
  }
}

@keyframes animated-arrow {
  0%, 100% {
    right: 2px;
  }
  50%, 75% {
    left: 2px;
  }
  25% {
    right: 1px;
  }
}
@media all and (max-width: 1200px) {
  .intro h1 {
    font-size: 2.6rem;
  }
  .intro h1 .name {
    font-size: 2.8rem;
  }

  .intro {
    padding-left: 6em;
  }
  .intro .gray-text {
    font-size: 1rem;
  }

  .pic img {
    max-width: 100%;
  }
}
@media all and (max-width: 900px) {
  .grid {
    margin-top: -4em;
    grid-template-areas: "intro-title" "intro-pic";
  }

  .pic {
    grid-area: intro-title;
    padding-top: 0.5em;
    margin-bottom: -5em;
  }

  .intro {
    grid-area: intro-pic;
    padding-left: 6em;
    padding-right: 3.5em;
    padding-top: 0em;
  }
}
@media all and (max-width: 500px) {
  .pic img {
    max-width: 100%;
    margin-left: 2em;
  }

  .intro {
    padding-left: 4em;
  }

  .intro h1 {
    font-size: 2.2rem;
  }
  .intro h1 .name {
    font-size: 2.5rem;
  }
  .intro .gray-text {
    font-size: 1rem;
  }
  .intro .intro-button {
    font-size: 1rem;
    padding: 10px;
  }
}/*# sourceMappingURL=intro.css.map */