$--main-clr:#FF0066;
$spacing:0.2em 0em 0em 4em;
$spacing-for-smaller-devices:0.4em 0.6em 0em 1.8em;

.smaller-nav{
    display: none;
}
.navbar-shadow{
    box-shadow:
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    100px 100px 80px rgba(0, 0, 0, 0.07)
  ;
}

.navbar{
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding-bottom: 5px;
    position: fixed;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(254,248,248,1) 100%);
    z-index: 999;
    top: 0;
    transition: all 400ms ease-out;
    .logo{
        h2{
            font-size: 2rem;
            font-weight: 800;
            align-items: center;
            justify-content: center;
            padding: $spacing;
            &::first-letter{
                font-size: 3.4rem;
                color:$--main-clr;
            }
        }
    }
    .contents{
        display:flex;
        flex-direction: row-reverse;
        align-items: center;
        .nav-icon{
            display: none;
        }
        ul{
            display: inline-block;
            padding: $spacing;
            li{
                list-style: none;
                display: inline-block;
                padding-right: 2em;
                padding-left: 2em;
                .active{
                    border: 4px solid #FDC6C6;
                    padding: 5px;
                    padding-left:  14px;
                    padding-right: 14px;
                    background-color: #FDC6C6;
                    width:100%;
                    height: 100%;
                }
                a{
                    text-decoration: none;
                    cursor: pointer;
                    z-index: 999999;
                    color: black;
                    font-size: 1.4rem;
                    position: relative;
                    &::before{
                    content:"";
                    width:0%;
                    height: 3px;
                    background-color: $--main-clr;
                    position: absolute;
                    bottom: 0;
                    left:30px;
                    transition: 500ms;
                    }
                    &::after{
                        content:"";
                        width:0%;
                        height: 3px;
                        background-color: $--main-clr;
                        position: absolute;
                        bottom: 0;
                        transition: 500ms;
                        right: 30px;
                        }
                    &:not(.icon):hover::before{
                        width: 60%;
                    }
                    &:not(.icon):hover::after{
                        width: 60%;
                    }

                }
            }
        }
    }
}

/**** Media queries ****/

@media all and (max-width:1520px){
    .navbar .contents ul li {
        padding: $spacing-for-smaller-devices;
    }
    .navbar .contents ul {
        display: inline-block;
        padding: 0.2em 0em 0em 2.8em;
    }
    .navbar{
        width: 100%;
        margin:0;
    }
}

@media all and (max-width:1200px){
    .navbar{
        grid-template-columns: 0.5fr 1fr;
        width:100%;
        margin: 0;
        .logo h2{
            padding-left: 1.4em;
        }
    }
}

@media all and (max-width:900px){
    .navbar{
        margin: 0em;
        position: relative;
        .logo h2{
            padding: $spacing-for-smaller-devices;
        }
        .contents {
            ul{
                display: none;
            }
            .nav-icon{
                display: block;
                .path1{
                    animation-name: fill1;
                    animation-delay: -1s;
                    animation-duration: 700ms;
                    animation-iteration-count: infinite;
                    transition: all 1s linear;
                }
                .path2{
                    animation-name: fill1;
                    animation-delay: 0.5s;
                    animation-duration: 700ms;
                    animation-iteration-count: infinite;
                    transition: all 1s linear;

                    
                }
                .path3{
                    animation-name: fill1;
                    animation-delay: 0.8s;
                    animation-duration: 700ms;
                    animation-iteration-count: infinite;
                    transition: all 1s linear;

                    
                }
                @keyframes fill1 {
                    0%{
                        transform: scaleX(20%);
                    }                    
                    20%, 80%{
                        transform: scaleX(40%);
                    } 
                    30%{
                        transform: scaleX(60%);
                    }
                    50%, 70%{
                        transform: scaleX(80%);
                    }
                    60%{
                        transform: scaleX(100%);
                    }        
                    100%{
                        transform: scaleX(20%);
                    }                    
                }
    
            }
    
        }

    }
    .smaller-nav{
        float: right;
        background-color: white;
        display: block;
        place-items: center;
        min-height: 100vh;
        position: absolute;
        transition: all 400ms ease-out;
        z-index: 9999999;
        min-width: 100vw;
        transform: translateX(200%);
        .close-icon{
            float: right;
            position: relative;
            right:6em;
            top:2.5em
        }
        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 6em;
            li{
                list-style: none;
                padding: 1em;
                a{
                    text-decoration: none;
                    color:$--main-clr;
                    font-size: 1.4rem;
                }
            }
        }
    }
    .navbar .logo h2 {
        padding-left:20px;
        font-size: 1.5rem;
    }
    .navbar .contents {
        display: flex;
        flex-direction: row-reverse;
    }
}