@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-family: 'Nunito Sans', sans-serif;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(254,248,248,1) 100%);

}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}


.loader{
  background-color: white;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.cursor{
  height: 40px;
  width:40px;
  z-index: 999;
  border-radius:50%;
  border: 2px solid black;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}


@media print{
  body{
    display: none;
  }
}